body {
  height: 100vh;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #a18cd1, #fbc2eb, #ff9a9e);
  background-size: 600% 600%;
  animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gradient-button {
      display: inline-block;
      padding: 10px 20px;
      background: linear-gradient(120deg, blue, black);
      background-size: 200% 100%;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;
      animation: gradientAnimation 3s ease infinite;
    }

    @keyframes gradientAnimation {
      0% {
        background-position: 100% 0;
      }
      50% {
        background-position: 0 0;
      }
      100% {
        background-position: 100% 0;
      }
    }
